<nav class="d-lg-block rounded navbar-expand-lg navbar-dark bg-dark fixed">
  <div class="flex-column my-5">
    <div class="collapse navbar-collapse">
      <ul class="flex-column navbar-nav mx-auto my-2">
        <li class="nav-item align-item-center">
          <a
            class="<%= page_name === 'dashbord' ? 'nav-link active' : 'nav-link' %>"
            id="nabhober"
            href="/api/dashbord/"
            ><% if(page_name === 'dashbord') {%>
            <strong>Dashbord</strong>
            <% }else { %> Dashbord <%}%></a
          >
        </li>
        <li class="nav-item align-item-center">
          <a
            class="<%= page_name === 'create-posts' ? 'nav-link active' : 'nav-link' %>"
            id="nabhober"
            href="/api/dashbord/create-posts"
            ><% if(page_name === 'create-posts') {%>
            <strong>New Post</strong>
            <% }else { %> New Post <%}%></a
          >
        </li>
        <li class="nav-item align-item-center">
          <a
            class="<%= page_name === 'my-posts' ? 'nav-link active' : 'nav-link' %>"
            id="nabhober"
            href="/api/dashbord/posts"
            ><% if(page_name === 'my-posts') {%>
            <strong>My Posts</strong>
            <% }else { %> My Posts <%}%></a
          >
        </li>
        <li class="nav-item align-item-center">
          <a
            class="<%= page_name === 'bookmarks' ? 'nav-link active' : 'nav-link' %>"
            id="nabhober"
            href="/api/dashbord/bookmarks"
            ><% if(page_name === 'bookmarks') {%>
            <strong>Bookmarks</strong>
            <% }else { %> Bookmarks <%}%></a
          >
        </li>
        <li class="nav-item align-item-center">
          <a
            class="<%= page_name === 'comments' ? 'nav-link active' : 'nav-link' %>"
            id="nabhober"
            href="/api/dashbord/comments"
            ><% if(page_name === 'comments') {%>
            <strong>Comments</strong>
            <% }else { %> Comments <%}%></a
          >
        </li>
        <li class="nav-item align-item-center">
          <a
            class="<%= page_name === 'edit-profile' ? 'nav-link active' : 'nav-link' %>"
            id="nabhober"
            href="/api/dashbord/edit-profile"
            ><% if(page_name === 'edit-profile') {%>
            <strong>Edit Profile</strong>
            <% }else { %> Edit Profile <%}%></a
          >
        </li>
        <li class="nav-item align-item-center">
          <a
            class="<%= page_name === 'changePassword' ? 'nav-link active' : 'nav-link' %>"
            id="nabhober"
            href="/api/user/change-password"
            ><% if(page_name === 'changePassword') {%>
            <strong>Change Password</strong>
            <% }else { %> Change Password <%}%></a
          >
        </li>
        <li class="nav-item align-item-center">
          <a class="nav-link" id="nabhober" href="/api/user/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
