<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid mx-4">
    <a class="navbar-brand" href="/"
      ><h2 style="font-style: italic">WEB ⚔ BLOG</h2></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="<%= page_name === 'blogs' ? 'nav-link active' : 'nav-link' %>"
            href="/"
            ><% if(page_name === 'blogs') {%>
            <strong>Blogs</strong>
            <% }else { %> Blogs <%}%></a
          >
        </li>
        <% if(token && user.profile){ %>
        <li class="nav-item dropdown">
          <a
            class="<%= page_name === 'dashbord' || page_name === 'create-posts' || page_name === 'my-posts' || page_name === 'bookmarks' || page_name === 'comments' || page_name === 'edit-profile' || page_name === 'changePassword' ? 'nav-link dropdown-toggle active' : 'nav-link dropdown-toggle' %>"
            aria-current="page"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><% if(page_name === 'dashbord' || page_name === 'create-posts' ||
            page_name === 'my-posts' || page_name === 'bookmarks' || page_name
            === 'comments' || page_name === 'edit-profile' || page_name ===
            'changePassword') {%>
            <strong>Dashbord Menu</strong>
            <% }else { %> Dashbord Menu <%}%></a
          >

          <ul
            class="dropdown-menu dropdown-menu-dark text-center"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a
                class="<%= page_name === 'dashbord' ? 'dropdown-item active' : 'dropdown-item' %>"
                href="/dashbord"
                ><% if(page_name === 'dashbord') {%>
                <strong>Dashbord</strong>
                <% }else { %> Dashbord <%}%></a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="<%= page_name === 'create-posts' ? 'dropdown-item active' : 'dropdown-item' %>"
                href="/dashbord/create-posts"
                ><% if(page_name === 'create-posts') {%>
                <strong>New Post</strong>
                <% }else { %> New Post <%}%></a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="<%= page_name === 'my-posts' ? 'dropdown-item active' : 'dropdown-item' %>"
                href="/dashbord/posts"
                ><% if(page_name === 'my-posts') {%>
                <strong>My Posts</strong>
                <% }else { %> My Posts <%}%></a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="<%= page_name === 'bookmarks' ? 'dropdown-item active' : 'dropdown-item' %>"
                href="/dashbord/bookmarks"
                ><% if(page_name === 'bookmarks') {%>
                <strong>Bookmarks</strong>
                <% }else { %> Bookmarks <%}%></a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="<%= page_name === 'comments' ? 'dropdown-item active' : 'dropdown-item' %>"
                href="/dashbord/comments"
                ><% if(page_name === 'comments') {%>
                <strong>Comments</strong>
                <% }else { %> Comments <%}%></a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="<%= page_name === 'edit-profile' ? 'dropdown-item active' : 'dropdown-item' %>"
                href="/dashbord/edit-profile"
                ><% if(page_name === 'edit-profile') {%>
                <strong>Edit Profile</strong>
                <% }else { %> Edit Profile <%}%></a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="<%= page_name === 'changePassword' ? 'dropdown-item active' : 'dropdown-item' %>"
                href="/user/change-password"
                ><% if(page_name === 'changePassword') {%>
                <strong>Change Password</strong>
                <% }else { %> Change Password <%}%></a
              >
            </li>
          </ul>
        </li>
        <% } %> <% if(token){ %>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a
            class="<%= page_name === 'dashbord' ? 'nav-link active' : 'nav-link' %>"
            aria-current="page"
            href="/dashbord"
            ><% if(page_name === 'dashbord') {%>
            <strong>Dashbord</strong>
            <% }else { %> Dashbord <%}%></a
          >
        </li>
        <li class="nav-item">
          <a
            class="<%= page_name === 'register' ? 'nav-link active' : 'nav-link' %>"
            href="/user/signup"
            ><% if(page_name === 'register') {%>
            <strong>SignUp</strong>
            <% }else { %> SignUp <%}%></a
          >
        </li>
        <li class="nav-item">
          <a
            class="<%= page_name === 'login' ? 'nav-link active' : 'nav-link' %>"
            href="/user/login"
            ><% if(page_name === 'login') {%>
            <strong>Login</strong>
            <% }else { %> Login <%}%></a
          >
        </li>

        <% } %>
      </ul>
      <form class="d-flex my-2 my-lg-0" method="GET" action="/search">
        <input
          class="form-control me-sm-2"
          name="term"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
